<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
  <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="#page-top">Still Water Sangha</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#what">What</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#who">Who</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#when">When</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#where">Where</a>
    </li>
  </ul>
</nav>
